<mat-nav-list>

    <h2 matSubheader>Pages</h2>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/dashboard">
        <mat-icon>dashboard</mat-icon>Dashboard
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/list">
        <mat-icon>list</mat-icon>List
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/filterList">
        <mat-icon>reorder</mat-icon>FilterSort List
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/AddList">
        <mat-icon>fact_check</mat-icon>Add/Edit List
    </a>


<mat-divider></mat-divider>
</mat-nav-list>