ul li {
    list-style: none;
}
.profile-card {
    text-align: center;
    padding: 10px 5px 5px 5px;

    img {
      width: 50px;
      height: 50px;
      object-fit: cover;
      border-radius: 50%;
    }
  }

  // .profile-card {
  //   text-align: center;
  //   padding: 0 10px 10px 10px;

  //   img {
  //     width: 70px;
  //     height: 70px;
  //     object-fit: cover;
  //     border-radius: 50%;
  //   }
  // }